
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

/* font-family: 'Righteous', sans-serif; */



.jumbotron {
    background-color: rgba(33, 33, 33, 1);
    font-family: 'Righteous', sans-serif;
    letter-spacing: 2px;


}
.jumbotron img{
    width: 30%;
}
.containerJumbotron {
    backdrop-filter: blur(16px) saturate(200%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.25);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);  
    padding: 38px;  
    filter: drop-shadow(0 30px 10px rgba(0,0,0,0.125));

  }