<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Jumbotron Example</title>
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        />
    </head>
    <body>
        <div class="jumbotron text-center col-12 rounded-0">
            <img
                src="../../../assets/img/Screenshot 2024-03-22 alle 11.14.42.png"
                alt="logo"
            />
            <hr class="my-2" />
            <h2 class="text-white">Oltre le tue aspettative, oltre i chilometri</h2>
        </div>
    </body>
</html>
